<template>
  <div>
    <h1>add todo</h1>
    <form class="" action="index.html" method="post" @submit.prevent="submitTodo()">
      <label for="">add todo</label>
      <input v-model="newTodo" type="text" name="todo"/>
    </form>
    <h1>Todos</h1>
    <ul>
      <li v-for="todo in getTodos" :key="todo.id">
        <span v-if="todo.id !== editedTodo.id">{{ todo.title }}</span>
        <span v-else=""> <input type="text" name="" @keyup.esc.prevent="finishModify()" @keyup.enter.prevent="validateModif(todo)" v-model="editedTodo.text"> </span>
        <input type="checkbox" name="complete" v-model="todo.completed" @click.prevent="switchTodo(todo)">
        <button type="button" name="button" @click.prevent="modifyTodo(todo)">{{ editedTodo.id ? 'validate' : 'modify' }}</button>
        <button type="button" name="button" @click.prevent="removeTodo(todo.id)">delete</button>
      </li>
    </ul>
  </div>
</template>

<script>
import  { mapGetters, mapActions } from 'vuex'

export default {
  created(){
    this.findAllTodos()
  },
  data(){
    return {
      newTodo: '',
      editedTodo: {
        id: null,
        text: ''
      }
    }
  },
  methods: {
    ...mapActions(['findAllTodos', 'addTodo', 'deleteTodo', 'updateTodo']),
    submitTodo() {
      this.addTodo(this.newTodo).then( () => { this.newTodo = '' } )
    },
    removeTodo(id) {
      this.deleteTodo(id)
    },
    switchTodo(todo) {
      this.updateTodo({
        id: todo.id,
        field: {
          completed: !todo.completed
        }
      })
    },
    modifyTodo(todo){
      if (this.editedTodo.id) {
        this.validateModif(todo)
      } else {
        this.editedTodo.id = todo.id
        this.editedTodo.text = todo.title
      }

    },
    validateModif(todo){
      if (this.editedTodo.text !== todo.title) {
        this.updateTodo({
          id: todo.id,
          field: {
            title: this.editedTodo.text
          }
        }).then(() => {
          this.finishModify()
        })
      } else {
        this.finishModify()
      }
    },
    finishModify(){
      this.editedTodo.id = null
    }
  },
  computed: {
    ...mapGetters(['getTodos']),
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
